*.un~
*.swp
tags
target
project/boot
.history
project.vim
*.old
.idea
.project
.classpath
.metadata/

# bloop and metals
.bloop
.bsp

# sbt
project/project/
project/target/
target/

# metals
project/metals.sbt
.metals

# vs code
.vscode

